<h4>Dear {{ first_name }},</h4>

<p>You recently attempted to log in from an unrecognized device. Click the link below to verify your identity and safely log-in. If you did not recently attempt to log-in, follow the link below to reset your password to secure your account.</p>

<p><a href="{{ magic_link }}">Click here</a> to log in.</p>

Best regards,<br>
<br>
The PVEL Portal Team<br>
<br>
Questions? Reply to this email for support.<br>
For the latest news from PV Evolution Labs (PVEL), <a href="https://www.pvel.com/">visit us online</a>.
